
{% extends "MinLyOt.html" %}




{% block Main %}

  <div class="container ">
      <div class="row">
        <div class="p-4 col-lg-auto ">
          <br/>
          <div class="shadow p-3 mb-5 bg-white rounded text-lg-center">
                <!-- <p class="text-lg-center">Victorian Tamil Keyboard</p> -->
                <h1>Victorian Tamil Keyboard</h1>
          </div>

          <br/>
          <div class="accordion" id="accordionExample">
             <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Run the file on your system after downloading it.
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                       <img src="/static/img/Ins1.jpg" class="ml-3" alt="Instal1">
                       <img src="/static/img/Ins2.jpg" class="ml-3" alt="Instal2">
                       <img src="/static/img/Ins3.jpg" class="ml-3" alt="Instal3">
                    </div>
                </div>
             </div>

             <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            You can specify the program path to be installed by default on the program directory.
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                       <img src="/static/img/Ins4.jpg" class="ml-3" alt="Instal4">
                       <img src="/static/img/Ins5.jpg" class="ml-3" alt="Instal5">
                       <img src="/static/img/Ins6.jpg" class="ml-3" alt="Instal6">
                    </div>
                </div>
             </div>


             <div class="card">
                <div class="card-header" id="headingTree">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTree" aria-expanded="true" aria-controls="collapseTree">
                            After installing the shortcut it is in the menu and its icon is placed on the desktop screen.
                        </button>
                    </h2>
                </div>
                <div id="collapseTree" class="collapse show" aria-labelledby="headingTree" data-parent="#accordionExample">
                    <div class="card-body">
                       <img src="/static/img/Ins7.jpg" class="ml-3" alt="Instal7">
                       <img src="/static/img/Ins8.jpg" class="ml-3" alt="Instal8">
                       <img src="/static/img/Ins9.jpg" class="ml-3" alt="Instal9">
                    </div>
                </div>
             </div>

             <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            The Tm button to change the keyboard language to English and Tamil is changed once.
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                       <img src="/static/img/runapp.jpg" class="ml-3" alt="RunApp">
                       <p>
                          “Key” and “Mus” Button to change keyboard mode use mouse and keyboard.
                           -If it is on the mouse, typing on that character is typed into the program
                           *Note that active editable locations will work in this mode
                           -The program is sensitive to the font change and the font selected in the program changes
                       </p>

                    </div>
                </div>
             </div>

          </div>

          <br/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Victorian Keyboard 32bit</h5>
                            <p class="card-text">OnScreen Victorian Tamil Keyboard for 32bit Os Windows (Xp, 2000, 7, 8 ).</p>
                            <a href="/static/Downloads/Setup32Bit.exe" class="btn btn-primary">Download Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Victorian Keyboard 64bit</h5>
                            <p class="card-text">OnScreen Victorian Tamil Keyboard for 64bit Os Windows (NT, Server, 10 ).</p>
                            <a href="/static/Downloads/Setup64Bit.exe" class="btn btn-primary">Download Here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
  </div>

{% endblock %}