
{% block Arts %}
<div class="py-5" id="Articel">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-4 col-md-6">
          <h4 id="Art1"><b>முன்னுரை</b></h4>
          <p> சுமார் 40 ஆண்டுகளாக தமிழில் ஆவணங்கள் தயாரித்த அனுபவத்தில் தனிச் சிறப்பு வாய்ந்த ஒரு தமிழ் விசைப்பலகை முறையை வடிவமைத்து,
            இவ்வாண்டில் அதற்கான காப்புரிமையும் பெற்று விட்ட மகிழ்ச்சியில் இந்தக் கட்டுரையைச் சமர்ப்பிக்கிறேன். </p>
          <p>
            <a href="https://victoriankeyboard.blogspot.com/" target="_blank">more...</a></p>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
          <h4 id="Art2"><b>இன்னும் சில சிறப்பம்சங்கள்</b></h4>
          <p> விக்டோரியன் அடுக்கு முறையில் ஆங்கிலப் பயன்பாட்டில் உள்ள [~], [!], [@], [#], [$], [%], [^], [&], [*], [(], [)], [_], [+], [-], [=]
            ஆகிய எழுத்துகளை இயல் நிலையிலேயே தட்டலாம்.
            முத்தையா மற்றும் பாமினி முறையில் இந்த எழுத்துகளுக்கு இடங்கள் ஒதுக்கப்படவில்லை</p>
          <p>
            <a href="https://victoriankeyboard.blogspot.com/" target="_blank">more...</a></p>
        </div>
        <div class="p-4 col-lg-4">
          <h4 id="Art3"><b> நடப்பில் உள்ள விசைப்பலகைகளில் காணப்படும் சில முக்கிய குறைபாடுகள்</b></h4>
          <p>முத்தையா விசைப்பலகை முறையில் காணப்படும் குறைபாடுகள் ஏற்கெனவே சுட்டிக்காட்டப்பட்டு விட்டன என்பதால் அவற்றை மீண்டும் இங்கு குறிப்பிடப் போவதில்லை.</p>
          <p>
            <a href="https://victoriankeyboard.blogspot.com/" target="_blank">more...</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}