{% block Dnlod %}
{% if len == "En" %}
  {% set titr = "Download " %}
{% elif len == "Tm" %}
  {% set titr = "பதிவிறக்கம் " %}
{% endif %}
<div class="py-5 bg-primary" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" id="Download">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-8">
          <!-- <h4 class="mb-3 text-white">Download</h4> -->
          <h4 class="mb-3 text-white">{{ titr }}</h4>
          <div class="blockquote text-muted">
            <p class="mb-0">Victorian Tamil keyboard app - To download the app, go to the download page and read the installation instructions
Then download the appropriate version and follow the instructions. </p>
            <div class="blockquote-footer">Johnson Victor</div>
          </div>
          <a class="btn btn-info" href="/Dnlod">Download Now</a>
        </div>
        <div class="col-md-4 align-self-center">
          <!-- <img class="img-fluid d-block" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg"> -->
          <img class="img-fluid d-block" src="/static/img/Don.jpg">
        </div>
      </div>
    </div>
  </div>

{% endblock %}