<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Start header  -->
    <title>{{ mytitle }}</title>
    <!-- Page setting -->
    <link rel="icon" href="/static/icons/VicLogo.ico">
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <!-- Script start -->
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/lang.js" style=""></script>


</head>
<body>


   <header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
       <a class="navbar-brand" href="/">Victorian</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
               {% for herf , icon , item in menulist %}
               <li class="nav-item active">
                   <a  class="nav-link" href="{{ herf }}"><i class="{{ icon }}" ></i>{{ item }}</a>
               </li>
               {% endfor %}
           </ul>

       </div>
       <div class="float-right" >
           <ul class="navbar-nav">
               <li class="nav-item">
                  <a id="lang" class="nav-link" href="javascript:void(0)" onclick="cheng_lang()"> <i class="fa fa-language"></i> {{ len }}</a>
               </li>
           </ul>

       </div>
   </nav>
  </header>

   {% block Main %}{% endblock %}

   <div class="py-3" id="Contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
          <p> <a href="https://goo.gl/maps/AUq7b9W7yYJ2" target="_blank"> My Street , No 100 <br>Estat - 12345, Contery</a> </p>
          <p> <a href="tel:+246 - 542 550 5462">+1 - 123 456 78 90</a> </p>
          <p class="mb-0"> <a href="mailto:rawangjohnson@yahoo.com">rawangjohnson@yahoo.com </a> </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
            <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
          </a> </div>
      </div>
    </div>
  </div>
   <!-- Footer -->
   <div class="bg-dark py-3">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">Copyright - Spring fount Co.</p>
        </div>
        <div class="col-lg-4 col-md-6">
          <p class="text-secondary mb-0">2019 - pooya ghiami : pooyagheyami@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
   <!-- Script setting -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>