{% block Qstin %}
{% if len == "En" %}
  {% set titr = "Question & Answer " %}
{% elif len == "Tm" %}
  {% set titr = "கேள்வி பதில் " %}
{% endif %}


<div class="py-5 text-center text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;" id="Question">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-10 p-4">
          <!-- <h1 class="text-light">Question &amp; Answer&nbsp;</h1> -->
          <h1 class="text-light">{{ titr }}&nbsp;</h1>
          <p class="mb-4 lead text-light">If you are some question about product or software you can write here&nbsp;</p>
          <form class="needs-validation" name="Myquest" action="quest" method="post" novalidate>
            <div class="form-row">
              <div class="form-group col-md-4">
                 <input type="text" class="form-control " id="form22" placeholder="Your Name*" name="name" required>
                 <div class="invalid-feedback">Please type your name.</div>
              </div>
              <div class="form-group col-md-4">
                 <input type="email" class="form-control " id="form23" placeholder="Email*" name="emil" required>
                 <div class="invalid-feedback">Please type your email.</div>
              </div>
              <div class="form-group col-md-4">
                 <input type="number" class="form-control" id="form24" placeholder="Phone" name="phon" >

              </div>
            </div>
            <div class="form-group">
                 <input type="text" class="form-control" id="form25" placeholder="Subject" name="subj" required>

            </div>
            <div class="form-group">
               <textarea class="form-control" id="form26" rows="3" placeholder="Your message" name="mesg" ></textarea>

            </div >
               <button type="submit" class="btn btn-primary" >Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
        alert("Thank you , your message send successful to admin ");
      }, false);
    });
  }, false);
})();
</script>

{% endblock %}