
{% block Tstmn%}
{% if len == "En" %}
  {% set titr = "Testimonis " %}
{% elif len == "Tm" %}
  {% set titr = "சாட்சிகள் " %}
{% endif %}
<script>
        function mymore(thisid,thistxt){
           //console.log(document.getElementById(thisid).style.display)
           if (document.getElementById(thisid).style.display == "block")
             {
                document.getElementById(thisid).style.display = "none";
                document.getElementById(thistxt).innerText = "more...";
             }
           else
             {
                document.getElementById(thisid).style.display = "block";
                document.getElementById(thistxt).innerText = "less...";
             };
        }
</script>

<div class="py-5" id="Testimoni">
    <div class="container">
      <!-- <h2>Testimonis </h2> -->
      <h2>{{ titr }} </h2>
      <div class="row">
        {% for txtsi in Tstmons %}
        <div class="col-md-6 p-3">
          <div class="card">
            <div class="card-body p-4">
              <p class="mb-3">{{ txtsi[1] }}<br></p>

              <p id="showme{{ txtsi[0][0] }}" style="display: none;">{{ txtsi[2] }}</p>
              <p ><a id="tmor{{ txtsi[0][0] }}" href="javascript:void(0)" onclick="mymore('showme{{ txtsi[0][0] }}','tmor{{ txtsi[0][0] }}' ) " >more...</a></p>
              <div class="row">
                <div class="col-lg-2 col-3"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
                <div class="col-lg-10 col-9 d-flex align-items-center">
                  <!-- <p class="my-2">J. W. Goethe <i>CEO</i> </p> -->
                  <p class="my-2">{{ txtsi[0] }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>



{% endblock %}
